## EXERCISES

#### Exercise 1

Given the code below    

    text = 'Business Analytics'

What will the following expressions produce?
    
    text[4]
    text[2:4]
    text[:4]
    text[4:]
    text[-2]
    text[-4:-2]
    text[-2:]
    text[:-2]

In [13]:
text = 'Business Analytics'
text[4] #This line's output is 'n'
text[2:4] #This line's output is 'si'
text[:4] #This line's output is 'Busi'
text[4:] #This line's output is 'ness Analytics'
text[-2] #This line's output is 'c'
text[-4:-2] #This line's output is 'ti'
text[-2:] #This line's output is 'cs'
text[:-2] #This line's output is 'Business Analyti'

'Business Analyti'

#### Exercise 2

Given the code below:
    
    phrase = 'One Ring to rule them all'

What string slicing expression gives out the following words:

    'One '
    'Ring'
    'all'
    'them'
    'One Ring to rule them all'

In [20]:
phrase = 'One Ring to rule them all'
phrase[:4] #'One '
phrase[4:8] #'Ring'
phrase[-3:] #'all'
phrase[17:21] #'them'
phrase[:] # 'One Ring to rule them all'

'One Ring to rule them all'


## CHALLENGE

Write a program which repeatedly reads a **full name**, then does the following:
- strips the name of any trailing spaces
- capitalizes the first letter
- puts the rest into smaller letters

In [21]:
while True:
    full_name = input("Enter a full name (or 'q' to quit): ").strip().capitalize()
    if full_name.lower() == 'q':
        print("Exiting the program...")
        break
    print("Formatted Name:", full_name)

Enter a full name (or 'q' to quit): Aaron Hans L. Oliverio
Formatted Name: Aaron hans l. oliverio
Enter a full name (or 'q' to quit): aaron hans oliver io
Formatted Name: Aaron hans oliver io
Enter a full name (or 'q' to quit): aaron
Formatted Name: Aaron
Enter a full name (or 'q' to quit): ayp
Formatted Name: Ayp
Enter a full name (or 'q' to quit): q
Exiting the program...