## EXERCISES

#### Exercise 1

Create an empty list then add the following numbers using `append`: 4, 6 9.

In [1]:
my_list = []

my_list.append(4)
my_list.append(6)
my_list.append(9)

print(my_list)

[4, 6, 9]

#### Exercise 2

Using the `range` function, create a list containing the numbers from 0 to 10.

In [2]:
my_list = list(range(11))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Exercise 3

Create a list containing the valid grade values, then using `enumerate` in a `for` loop, print out all **indices** and **items** in the list.

It should print out:

    0   1.0
    1   1.25
    2   1.5
    3   1.75
    4   2.0
    5   2.25
    6   2.5
    7   3.0

In [3]:
grade_values = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]
for index, grade in enumerate(grade_values):
    print(index, ' ', grade)

0   1.0
1   1.25
2   1.5
3   1.75
4   2.0
5   2.25
6   2.5
7   3.0

#### Exercise 4

Using Index Slicing, print out the list of grades higher than 2.0

In [4]:
grade_values = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]
print(grade_values[grade_values.index(2.25):])

[2.25, 2.5, 3.0]

#### Exercise 5

Using Index Slicing, print out the list of grades better than 2.0.

In [5]:
grade_values = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]
grades_better_than_2 = [grade for grade in grade_values if grade > 2.0]
print(grades_better_than_2)

[2.25, 2.5, 3.0]

#### Exercise 6

Using Index Slicing, print out the grades 2.0,2.25,2.5.

In [6]:
grade_values = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]

index_2_0 = grade_values.index(2.0)
index_2_25 = grade_values.index(2.25)
index_2_5 = grade_values.index(2.5)

print(grade_values[index_2_0:index_2_5 + 1])

[2.0, 2.25, 2.5]

## CHALLENGE

Modify the code in the subheading [Parsing Lines](#ParsingLines) to display all the time stamps
of the emails in mboxt-short.txt

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
%cd drive/MyDrive

/content/drive/MyDrive

In [9]:
!pwd

/content/drive/MyDrive

In [10]:
with open('mbox-short.txt') as fhand:
    for line in fhand:
        line = line.strip()
        if line.startswith('From '):
            words = line.split()
            print(words[5])

09:14:16
18:10:48
16:10:39
15:46:24
15:03:18
14:50:18
11:37:30
11:35:08
11:12:37
11:11:52
11:11:03
11:10:22
10:38:42
10:17:43
10:04:14
09:05:31
07:02:32
06:08:27
04:49:08
04:33:44
04:07:34
19:51:21
17:18:23
17:07:00
16:34:40
16:29:07
16:23:48